root = true

[*.lua]
end_on_line = lf
insert_final_newline = true
charset = utf-8
indent_style = tab
quote_type = single

[libs/**,locales/**]
end_on_line = unset
insert_final_newline = unset
charset = unset
indent_style = unset
quote_type = unset
